@model ApiInfoDengue.Domain.Relatorio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Relatorio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataSolicitacao" class="control-label"></label>
                <input asp-for="DataSolicitacao" class="form-control" />
                <span asp-validation-for="DataSolicitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arbovirose" class="control-label"></label>
                <input asp-for="Arbovirose" class="form-control" />
                <span asp-validation-for="Arbovirose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemanaInicio" class="control-label"></label>
                <input asp-for="SemanaInicio" class="form-control" />
                <span asp-validation-for="SemanaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemanaFim" class="control-label"></label>
                <input asp-for="SemanaFim" class="form-control" />
                <span asp-validation-for="SemanaFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoIBGE" class="control-label"></label>
                <input asp-for="CodigoIBGE" class="form-control" />
                <span asp-validation-for="CodigoIBGE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitanteId" class="control-label"></label>
                <select asp-for="SolicitanteId" class="form-control" asp-items="ViewBag.SolicitanteId"></select>
                <span asp-validation-for="SolicitanteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
